:root {
  --blue: #007bff;
}

/* Reset de margens padrão */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
}

/* Cabeçalho */
header {
  width: 100%;
  background-color: #fff;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px; /* Altura conforme design */
  margin: 0 40px; /* Margem lateral do conteúdo */
}

/* Logo */
.logo {
  display: block;
}

.logo img {
  height: 40px;
}

/* Navegação */
nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin: 0 20px;
}

nav ul li:first-child {
  margin-left: 0;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  text-decoration: none;
  color: #000;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
}

/* Hover */
nav ul li a:hover {
  color: var(--blue);
}

/* Link ativo */
.is-active {
  position: relative;
}

.is-active::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--blue);
}
